=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

.txt-style
  font-size: 12px
  padding: 10px

.large-txt
  font-size: 20px
  margin: 12px

.error
  @extend .large-txt
  color: red

.warning
  @extend .large-txt
  color: yellow

div
  h4
    text-decoration: underline
  li
    text-decoration: none
    a
      @extend .txt-style
      background-color: beige
      +border-radius(10px)
    span
      @extend .txt-style
